.logo {
    height: auto;
    width: 45px;
    padding: 6px;

}

.main-img {
    height: auto;
    width: 400px;
    margin-top: 24px;
}

.peru-imgs {
    height: 200px;
    width: 300px;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    color:deeppink;
    margin-top: 20px;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color:cornsilk;
    margin: 0;
    padding: 0;
    align-items: center;
}

.head-container {
    display: flex;
    background-color: cornsilk;
    justify-content: center;
    gap: 30px;
    padding: 48px;
    align-items: center;
}

.left-side-hc {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.button1 {
    align-self: flex-start;
}

.h-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: -12px;
}

.title,
.container {
    text-align: center;
}

.title {
    margin-bottom: 32px;
    padding-top: 16px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mid-space {
    background-color: burlywood;
    margin-top: -20px;
}

.info {
    flex: 1;
    
}