.logo {
    height: auto;
    width: 50px;
}

.main-img {
    height: auto;
    width: 500px;
}

.peru-imgs {
    height: auto;
    width: 300px;
    max-height: 200px;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    color:midnightblue;
    margin-top: 26px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color:lightcyan;
    margin: 0;
    padding: 0;
    
}